:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --primary-green: #4ade80;
    --secondary-green: #22c55e;
    --surface-color: #111111;
    --btn-bg: #111111;
    --btn-text: #ffffff;

    --btn-size: 65px;
    --gap: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-frame {
    background-color: var(--bg-color);
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 40px;
    border: 1px solid #333;
}

.phone-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.display {
    background-color: transparent;
    color: var(--text-color);
    text-align: right;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    overflow-x: auto;
}

#display-main {
    font-size: 3rem;
    font-weight: 300;
    white-space: nowrap;
}

.calc-modes {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #888;
}

.mode-active {
    color: var(--primary-green);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(74, 222, 128, 0.3);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    justify-items: center;
}

.btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    font-size: 1.4rem;
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.btn:active {
    background-color: #333;
    transform: scale(0.95);
}

.btn-op {
    color: var(--primary-green);
    font-weight: bold;
    font-size: 1.6rem;
}

.btn-sci {
    color: #aaa;
    font-size: 1rem;
}

.btn-action {
    /* DE */
    color: #ef4444;
    font-weight: bold;
}

.btn-equal {
    background-color: var(--primary-green);
    color: #000;
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(74, 222, 128, 0.4);
}

.btn-equal:active {
    background-color: #22c55e;
}